<!--<script src="/js/pages/materials/in_out.js"></script>-->
{{#if supplierSelect}}
<div id="supplierDlg" style="width:580px;padding:10px 20px" buttons="#supplierDlgBtn3">
	<form id="supplierFM">
		<table>
			<tr>
				<td style="width: 60px;height: 20px">项目名称(全称)</td>
				<td style="width:180px;padding:1px;">
					<input name="supplier" id="supplier" style="width: 160px;height: 20px"/>
				</td>
				<td style="width: 60px;height: 20px">联系人</td>
				<td style="width:180px;padding:1px;">
					<input name="lxr" id="lxr" style="width: 160px;height: 20px" required="true"/>
				</td>
			</tr>
			<tr>
				<td>手机号码</td>
				<td style="padding:1px;">
					<input name="sjhm" id="sjhm" style="width: 160px;height: 20px" required="true"/>
				</td>
				<td>项目地址</td>
				<td style="padding:1px;">
					<input name="xmdz" id="xmdz" style="width: 160px;height: 20px" required="true"/>
				</td>
			</tr>
			<tr>
				<td>备注</td>
				<td style="padding:1px" colspan="3">
					<textarea name="description" id="description" rows="2" cols="2" style="width: 408px;"></textarea>
				</td>
			</tr>
		</table>
	</form>
</div>
<div id="supplierDlgBtn3">
	<a href="javascript:void(0)" id="saveSupplier">保存</a>
	<a href="javascript:void(0)" id="cancelSupplier" onclick="javascript:$('#supplierDlg').dialog('close')">取消</a>
</div>
{{/if}}


{{#if depotSelect}}
<div id="depotDlg" style="width:380px;padding:10px 20px" buttons="#depotDlgBtn">
	<form id="depotFM">
		<table>
			<tr>
				<td>仓库名称</td>
				<td style="padding:5px">
					<input name="name" id="name" style="width: 230px;height: 20px"/>
				</td>
			</tr>
			<tr>
				<td>仓库地址</td>
				<td style="padding:5px">
					<input name="address" id="address" style="width: 230px;height: 20px"/>
				</td>
			</tr>
			<tr>
				<td>仓储费</td>
				<td style="padding:5px">
					<input name="warehousing" id="warehousing" style="width: 175px;height: 20px"/>&nbsp;元/天/KG
				</td>
			</tr>
			<tr>
				<td>搬运费</td>
				<td style="padding:5px">
					<input name="truckage" id="truckage" placeholder="如上下搬运20元,则填写10元" style="width: 215px;height: 20px"/>&nbsp;元
				</td>
			</tr>
			<tr>
				<td>排序</td>
				<td style="padding:5px">
					<input name="sort" id="sort" style="width: 230px;height: 20px"/>
				</td>
			</tr>
			<tr>
				<td>描述</td>
				<td style="padding:5px">
					<textarea name="remark" id="remark" rows="2" cols="2" style="width: 230px;"></textarea>
				</td>
			</tr>
		</table>
	</form>
</div>
<div id="depotDlgBtn">
	<a href="javascript:void(0)" id="saveDepot">保存</a>
	<a href="javascript:void(0)" id="cancelDepot" onclick="javascript:$('#depotDlg').dialog('close')">取消</a>
</div>
{{/if}}